body {
    font-family: sans-serif;
    color: green
  }
  
  h1, #designed-by {
    text-align: center;
  }
  
  .style1 {
    background-color: #99FFC9;
  }
  
  .style2 {
    background-color: #BCFFDB;
  }
  
  .style3 {
    background-color: #8DFFCD;
  }
  
  .style4 {
    background-color: #89ddaf;
  }
  
  .style5 {
    background-color: #A7DDC8;
  }
  
  .style6 {
    background-color: #A1E8CC;
  }
  
  /* SETTING THE COLOR OF THE BOX TEXT */
  .tiles .box-wrapper > a {
    color: white;
  }